.container{
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: space-between;
}

.container aside {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: bold;
}

.container aside:first-child{
    color: var(--blue-300);
}

.container aside:last-child{
    color: var(--purple-300);
}

.container aside p {
    font-size: 0.875rem;
}

.container aside span {
    padding: 2px 8px;
    border-radius: 16px;

    font-size: 0.75rem;

    background-color: var(--gray-500);
    color: var(--gray-200);
}

