.container {
    display: flex;
    flex: 1;
    gap: 0.75rem;

    align-items:center;
    justify-content: space-between;
    
    background-color: var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid var(--gray-400);

}

.container div {
    display: flex;
}

.container label {
    display: flex;
    padding: 3px;
    align-items: center;
    gap: 0.75rem;
}

.container label input[type='checkbox']{
    display: none;
}

.paragraph {
    font-size: 0.875rem;
    line-height: 140%;
    user-select: none;

    color: var(--gray-100);

    transition: 0.2s all;
}

.paragraph-checked {
    text-decoration: line-through;
    color: var(--gray-300);
}

.checkbox {
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-unchecked {
    border: 2px solid var(--blue-300);
}

.checkbox-unchecked:hover {
    background-color: rgba(30, 111, 159, 0.2);
}

.checkbox-checked {
    border: 2px solid var(--purple-400);
    background-color: var(--purple-400);
}

.checkbox-checked:hover {
    border: 2px solid var(--purple-300);
    background-color: var(--purple-300);
}

.container button {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 5px 4px 2px 4px;
}

.container button:hover{
    background-color: var(--gray-400);
}
